/* --------- global css --------- */
html{
  font-size:100%;
}

body{
  font-family:'Poppins';
  margin:0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* --------- container and generic classes --------- */

.container{
  width:100vw;
  overflow:hidden;
  margin:auto;
  height:auto;
  position:relative;
}

.flex{
  display:flex;
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.center-vl{
  align-items:center;
}

.center-hl{
  justify-content: center;
}

/* --------- header --------- */

#header{
  margin:0;
  padding:1em 0;
  height:10vh;
  width:100%;
  position:relative;
  left:0;
  top:0;
  /* background-color:#e72f5e; */
  background-color:#022639;
}

#header-img{
  position:absolute;
  width:15%;
  left:7%;
}

@media(max-width:700px) {
  #header-img{
    width:30%;
    position:unset;
    margin:0 auto;
  }
}

#menu-list{
  margin:0 auto;
}

@media (max-width:700px) {
  #menu-list {
    display:none;
  }
}

#menu-list li{
  list-style:none;
}

#menu-list a{
  display:inline;
  font-weight: bold;
    font-size:2.5vw;
  margin:0 2em;
  color:white;
  text-decoration:none;
  transition:0.2s;
}

#menu-list a:hover{
  /* color:#446576; */
  color:#c50f3c;
  transition:0.2s;
}

/* --------- graphic preview box --------- */

@media (max-height:600px){
  #avatar-box{
    height:600px !important;
  }
}

#avatar-box{
  overflow:hidden;
  position:relative;
  height:90vh;
  background: url("../images/jaime-background.png");
  background-size:cover;
}

#avatar-desc{
  position:absolute;
  padding:1em;
  width:65vw;
  max-height:100%;
  flex-shrink:0;
}

@media (max-width:850px) {
  #avatar-desc {
    width: 90vw;
  }
}

#avatar-desc p{
  margin:0;
  margin-bottom:1em;
  color:white;
}

#avatar-desc form{
  color:white;
  text-align: center;
  height:max-content;
}

#inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#submit{
  padding:0.5em;
  background-color:#022639;
  border-style:none;
  color:white;
  display:none;
  margin:0 auto;
  font-size:1.5em;
}

label{
  fill:white;
  font-size:1.5em;
}

label:hover {
  cursor:pointer;
  color:#022639;
  fill:#022639;
}

/* ignore */

#big-choose{
  display:none;
}

/*
@media (max-width:620px){
  #avatar-desc{
    width:40%;
    padding:1.8em;
    border:2px solid #24485a;
  }

  #choose{
    display:none;
  }

  #big-choose{
    display:block;
  }

  #file-label svg{
    width:50px;
    height:50px;
  }

  #avatar{
    display:none;
  }
} */

#submit:hover{
  cursor: pointer;
  background-color:#e72f5e;
}

#avatar{
  width:90%;
  margin:1.5em auto;
  filter:drop-shadow(8px 8px 8px black);
}

/* --------- help message --------- */

#help{
  position:absolute;
  top:2em;
  right:3em;
}

#help:hover{
  cursor:pointer;
  fill:#24485a;
}

.close{
  position:absolute;
  top:2em;
  right:2em;
}

.close:hover{
  cursor:pointer;
  fill:black;
}

#help-box{
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  width:100vw;
  height:100vh;
  background-color: #c50f3c;
  opacity:0.98;
  color:white;
  font-size:1.3em;
}

@media (max-width:700px) {
  #help-box{
    font-size:1em;
  }
}

/* -------- display box ----------- */

#display-box{
  position:fixed;
  z-index:2;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: #c50f3c;
  color:white;
}

#display-box ul{
  margin-top:2em;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#display-box li{
  list-style: none;
  height:min-content;
  margin:1em;
  font-size:2em;
}

#fb{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width:700px) {
  #display-box li{
    font-size:1.6em;
  }
}

#display-box a{
  text-decoration: none;
  color:white;
}

#display-box a:hover{
  color:#022639;
}

#avatar-generated{
  filter:drop-shadow(15px 15px 15px black);
}

/* @media (max-width:850px) {
  #avatar {
    width:70%;
    height:auto;
    margin-top:0.5em;
  }
} */

/* ---------- footer ---------- */

#footer{
  background-color:#022639;
  padding:3em;
  height:min-content;
}

#footer-img{
  width:20%;
}

@media (max-width:700px) {
  #footer{
    flex-direction: row;
    flex-wrap:wrap;
    font-size:0.5em;
  }

  #footer-img{
    width:32%;
  }

  #paid-box{
    margin:0 !important;
    margin-left:1em !important;
  }
}

#paid-box{
  margin-top:2.7em;
  border:2px solid #24485a;
  padding:0.5em;
}

#paid-box p{
  margin:0;
  color:#24485a;
  text-align:center;
  font-size:1em;
}

#design-creds{
  color:#24485a;
  font-size:1em;
  margin-top:4.5em;
}
